@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&subset=latin-ext,cyrillic.css";
@import "briefcss/init.scss";

$family-sans-serif: 'IBM Plex Sans';
$column-gap: 0.3em;

$breakpoints:   (
	"tablet":     700px,
	"desktop":    960px+(2*$gap)
);

$border: #ccc;

$card-border: map-get($colors, "dark");
$card-border-width: 5px;
$card-border-radius: 0;

@import "briefcss/main.scss";

.card {
	box-shadow: $box-shadow-medium;
}

.homeinfo {
	margin-bottom: 3em;
}

.roomlist-container-header {
	padding: 0.6em 0.5em;
}

.roomlist-container {
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	max-height: 20.5em;
	overflow-y: auto;
	margin-bottom: 2em;
	box-shadow: $box-shadow-small;
}

.roomlist-item {
	padding: 0.3em 0.5em;

	&.roomlist-item_norooms {
		padding: 1em 0.5em;
		text-align: center;
		color: map-get($colors, "grey");
		background-color: map-get($colors, "light");
	}

	&:not(:first-child) {
		border-top: 1px solid #ccc;
	}

	&:not(.roomlist-item_norooms):hover {
		font-weight: bold;
		background-color: #f9f9f9;
	}

}

.roomlist-indicator {
	display: inline-block;
	margin: auto 0.2em;

	&.roomlist-indicator-playing {
		width: 0.6em;
		height: 0.6em;
		border-radius: 50%;
		background-color: map-get($colors, "green");
	}

	&.roomlist-indicator-waiting {
		width: 0.6em;
		height: 0.6em;
		border-radius: 50%;
		background-color: map-get($colors, "grey");
	}
}

.card .card-header {
	background-color: map-get($colors, 'dark');
	color: white;
}

.modal {
	position: fixed;
	display: flex;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	background-color: #00000021;
}

.modal-item {
	width: 100%;
	max-width: 400px;
}
